body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0b0b0b;
    color: white;
}

header {
    background: black;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    color: #00bcd4;
}

.hero {
    height: 85vh;
    background: url("../images/bg.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 60px;
}

.hero p {
    font-size: 20px;
    letter-spacing: 3px;
}

.section {
    padding: 50px;
    text-align: center;
}

.players {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.player {
    background: #111;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
}

.player img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background: black;
    text-align: center;
    padding: 15px;
}
